################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/batool.slnx/FileContentIndex/00e5453b-fa46-4948-8d83-8d8d6eb87ca4.vsidx
